* {
    margin: 0px;
}

body {
    font: 16px/28px arial, sans-serif;
    background-color: orange;
    background-image: url(img/bg2.jpg);
}

.container {
    width: 960px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

.header {
    padding: 20px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: blue;
}

.header a:hover {
    background-color: grey;
    color: white;
}

.hero {
    height: 320px;
    background-image: url(img/7.jpg);
    border-top: solid green;
    border-bottom: double midnightblue;
    background-size: cover;
    padding: 80px;
}

.main {
    width: 600px;
    padding : 20px;
    box-sizing: border-box;
    float: left;
    font-family: arial;
    font-size: 18px; 
    text-align: justify;
}

.main .penulis a {
    text-decoration: none;
}

.main .penulis a:hover {
    text-decoration: none;
    color: orange;
}

.tamat {
    text-align: center;
    font-size: 30px;
}

/* sidebar */
.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3 {
    font-weight: bold;
    font: grey;
    padding-bottom: 10px;
}

.sidebar img {
    width: 100px;
    height: 100px;
    float: left;
    padding-right: 10px;
}

.sidebar p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.footer {
    background-color: grey;
    padding: 10px;
}

.footer .copy {
    text-align: center;
    font-size: 18px;
}

.footer .copy a:hover {
    text-decoration: none;
    color: white;
}

/*clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}